$fullRed: #f94f4f;
$fullYellow: #f9c24f;
$fullBlue: #4f4ff9; 
$ultraDark: #050607;
$transparent: rgba(0,0,0,0);

$colors: () !default;

$colors: map-merge(
  (
    "fullRed": $fullRed,
    "fullYellow": $fullYellow,
    "fullBlue": $fullBlue,
    "super-dark": $ultraDark,
    "transparent": $transparent,
  ),
  $colors
);

$red: $fullRed !default;
$yellow: $fullYellow !default;
$blue: $fullBlue !default;
$udark: $ultraDark !default;
$ghost: $transparent !default;

$theme-colors: () !default;

$theme-colors: map-merge(
  (
    "red": $red,
    "yellow": $yellow,
    "blue": $blue,
    "udark": $udark,
    "ghost": $ghost,
  ),
  $theme-colors
);

@mixin text-emphasis-variant($parent, $color) {
  #{$parent} {
    color: $color !important;
  }
}

@each $color, $value in $theme-colors {
  @include text-emphasis-variant(".text-#{$color}", $value);
}

@mixin hover-focus() {
  &:hover,
  &:focus {
    @content;
  }
}

@mixin bg-variant($parent, $color) {
  #{$parent} {
    background-color: $color !important;
  }
  a#{$parent},
  button#{$parent} {
    @include hover-focus() {
      background-color: darken($color, 10%) !important;
    }
  }
}

@each $color, $value in $theme-colors {
  @include bg-variant(".bg-#{$color}", $value);
}
