$yellow-RGNB: #e8d274;
$orange-RGNB: #f79714;
$second-orange-RGNB: #cbb58a;
$brown-RGNB: #a97554;
$dark-brown-RGNB: #754120;
$super-dark: #050607;
//$super-dark-ligr-diagonal-st-eb: linear-gradient(-244.86464315926816deg, rgba(5, 6, 7, 1) -4.024739583333329%, rgba(9, 10, 11, 1) 96.54817708333333%, rgba(10, 11, 12, 1) 96.54817708333333%);

$colors: () !default;

$colors: map-merge(
  (
    "yellowRNGB": $yellow-RGNB,
    "orangeRNGB": $orange-RGNB,
    "SNDOrangeRNGB": $second-orange-RGNB,
    "brownRNGB": $brown-RGNB,
    "dark-brownRNGB": $dark-brown-RGNB,
    "super-dark": $super-dark,
    //"super-dark-ligr-diagonal-st-eb": $super-dark-ligr-diagonal-st-eb,
  ),
  $colors
);

$honey: $yellow-RGNB !default;
$fire: $orange-RGNB !default;
$palehoney: $second-orange-RGNB !default;
$wood: $brown-RGNB !default;
$dark-wood: $dark-brown-RGNB !default;
$true-dark: $super-dark !default;
//$true-dark-ligr-diagonal-st-eb: $super-dark-ligr-diagonal-st-eb !default;

$theme-colors: () !default;

$theme-colors: map-merge(
  (
    "honey": $honey,
    "fire": $fire,
    "palehoney": $palehoney,
    "wood": $wood,
    "dark-wood": $dark-wood,
    "true-dark": $true-dark,
    //"true-dark-ligr-diagonal-st-eb": $true-dark-ligr-diagonal-st-eb,
  ),
  $theme-colors
);

@mixin hover-focus() {
  &:hover,
  &:focus {
    @content;
  }
}

@mixin text-emphasis-variant($parent, $color) {
  #{$parent} {
    color: $color !important;
  }
}

@each $color, $value in $theme-colors {
  @include text-emphasis-variant(".text-#{$color}", $value);
}

@mixin bg-variant($parent, $color) {
  #{$parent} {
    background-color: $color !important;
  }
  a#{$parent},
  button#{$parent} {
    @include hover-focus() {
      background-color: darken($color, 10%) !important;
    }
  }
}

@each $color, $value in $theme-colors {
  @include bg-variant(".bg-#{$color}", $value);
}
