.portadaDesktop{
    height: calc( 100vh );
    background-image: url('/assets/images/coverDesktop.jpg')!important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.portadaMobile{
    height: calc( 100vh );
    background-image: url('/assets/images/coverMobile.jpg')!important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.fixed-top{
    max-width: 100vw!important;
}