#s_entrenadores {

    /* 
    #slider-wrapper {
        width: 80%;
        height: auto;
        overflow: hidden;
        border: 1px solid black;
    }
    
    #slider-wrapper .images {
        width: 100%;
        height: auto;
    }
    
    #slider-wrapper .images img {
        width: 100%;
        height: auto;
        overflow: hidden;
    }
     */
    
    
    #grid{
        position: relative;
        display: inline-grid;
        grid-template-columns: 1fr 1fr;
        width: 70%;
        margin-left: 5%;
        margin-top: 2%;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
    
    .imagen{
        display: block;
        width: 100%;
        height: 100%;
        background-position: center;
        filter: grayscale(100%);
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
    
    .imagen:hover{
        filter: grayscale(0%);
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
    
    .imagen div{
        position: relative;
        margin-top: 80rem;
        width: 100%;
    
    }
    
    .TarjetaAbajo{
        grid-column: 1/3;
        img{
            width: 50%;
        }
        .TextInfoTarjeta{
            width: 50%;
        }
    }
    
    
    
    }
    