#s_ubicacion {
    .map{
        overflow: hidden;
        border-radius: 1.5%;
        width: clamp(90%, 95vw, 100%);
        #iIframeMap{
            height: clamp(10rem, 40vh, 180rem);
            width: clamp(100%, 100%, 100%);
        }
    }
}
