/* @import "./colors.scss"; */
.w-15 {
  width: 15% !important;
}

.w-30 {
  width: 30% !important;
}

.w-45 {
  width: 45% !important;
}

.w-60 {
  width: 60% !important;
} 

.w-85 {
  width: 85% !important;
}

.w-90 {
  width: 85% !important;
}

html {
  overflow-x: hidden;
  body {
    background-color: black;

    /* h2 {
      font-size: clamp(1.5rem, calc(1rem + 5vw), 3.5rem);
    } */
  }
}
