@import './header.scss';
@import './s_info.scss';
@import './s_clases.scss';
@import './s_ubicacion.scss';
@import './s_entrenadores.scss';
@import './s_media.scss';
@import './footer.scss';
@import './style-global.scss';

