@import "./colors.scss";
@import "./sizes.scss";

html {
  overflow-x: hidden;
  body {
    background-color: black;
  }
  h1, h2, h3, h4, h5 {
    font-family: 'Finger Paint', cursive;
    color: #f94f4f;
  }
  p, li, button, a, div {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
  }
}

.metallic {
  background-image: linear-gradient(180deg, rgba(112, 112, 112, 0.25) 0%,rgba(235, 235, 235,0.25) 20%,rgba(255, 255, 255,0.30) 30%,rgba(235, 235, 235,0.25) 40%, rgba(194, 192, 192,0.25) 50%,rgba(214, 214, 214,0.40) 70%,rgba(255, 255, 255,0.30) 80%,rgba(214, 214, 214,0.25) 90%,rgba(92, 92, 92, 0.25) 100%);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.6) inset,
    0px -8px 8px -4px rgb(0, 0, 0) inset,
    0 -16px 4px -4px rgba(0, 0, 0, 0.125) inset;
}